# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
*.tmp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class
# Gradle/Maven dir
/target/
.gradle/
build/

# Project metadata
.idea/

# IntelliJ
out/
*.iml

# Floobits related
.floo*

# OSX related
.DS_Store

# misc
test.puml


